* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;

  background-color: rgba(13, 41, 124, 0.87);
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  height: 10vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.btn-first-group button {
  background-color: #04aa6d; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: none; /* Make the buttons appear below each other */
  border-radius: 10px;
}

.btn-second-group button {
  background-color: #04aa6d; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
  border-radius: 10px;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-first-group button:hover,
.btn-second-group button:hover {
  background-color: #3e8e41;
}

.hidden {
  display: block none;
}
